<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Times seen:</strong>
  <%= @animal.times_seen %>
</p>

<p>
  <strong>Location:</strong>
  <%= @animal.location %>
</p>

<p>
  <strong>Photo:</strong>
  <img src="<%= @animal.photo %>"/>
</p>

<p>
  <strong>Description:</strong>
  <%= @animal.description %> 
</p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
